
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "dataTables.bootstrap.min";
@import "bootstrap-datetimepicker.min";
@import "~fullcalendar/dist/fullcalendar.min";
@import "styles";

.page-header {
    display: inline-block;
}

.select-form-control {
    height: 46px;
}

.main {
    padding-bottom: 10px;
}